.pe_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.job_and_company {
  margin: 0;
}
.job_title {
  font-size: 1rem;
  font-weight: 600;
}
.school {
  font-size: 0.8rem;
  font-weight: 300;
}

.date_and_location {
  margin: 0;
  font-weight: 400;
  font-size: 0.8rem;
}
