.pe__container {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px 0;
}
.pe__title {
  margin: 0 0 10px 0;
  font-weight: 1200;
  font-size: 1.6rem;
}

.input_container {
  margin-right: 10px;
}

.input_label {
  display: block;
  font-size: 12px;
}
.input_item {
  background-color: #f3f4f6;
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
}
.input_date_container {
  display: flex;
}
.input_employer_location {
  display: flex;
  justify-content: space-between;
}
.input_job_title_and_date_container {
  display: flex;
  justify-content: space-between;
}
.textarea {
  width: 97% !important;
}
.buttons {
  text-align: right;
  margin: 10px 0;
}
.buttons_cancel {
  border: 0;
  background-color: transparent;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.buttons_save {
  border: 0;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  background-color: #5bb318;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
